.container {
    margin-top: 54px;
    padding: 2rem;
}

.container h1 {
    margin-bottom: 0.3rem;
}

.date{
    display: flex;
    align-items: center;
    padding: 10px;
}

.date span {
    margin-left: 0.5rem;
}


.section:first-of-type {
    margin-top: 1.5rem;
}

.section:not(:first-of-type) {
    margin-top: 3rem;

}

.section {
    padding: 0.5rem;
}

.section h2 {
    color: var(--color-2)
}

.section p {
    margin-top: 1rem;
    padding: 0px 1rem;
}
