.container {
    padding: 2rem;
    background-color: #1a1a1a;
}

.container h1 {
    text-align: center;
    margin-bottom: 1rem;
}


.links {
    margin-top: 2rem;
    display: flex;
    justify-content:space-around;

}

.links a {
    background-color: var(--base-color);
    padding: 0.5rem;
    border-radius: 5px;
}