.container {
    padding: 2rem;
    width: 100%;
}

.container h1 {
    margin-bottom: 0.1rem;
}


.container hr {
    margin-bottom: 1rem;
}

.container ul {
    padding: 2rem 3rem;
}

.container li {
    margin-bottom: 0.8rem;
}

.container a {
    color: var(--color-2);
}

.container a:hover {
    text-decoration: underline;
}