.container  {
    margin-top: 54px;
    padding: 2rem;
}

.section, .date {
    margin-top: 2.5rem;
}

.content{
    margin-top: 1rem;
    padding: 0px 2rem;
}

.content ul{
    padding: 0px 2rem;
    margin-top: 0.5rem;
}

.content ul li {
    margin-top: 0.3rem;
}